<template>
  <div>
    <calculator />
  </div>
</template>

<script>
import Calculator from "./components/Calculator.vue";
export default {
  components: { Calculator },
};
</script>

<style scoped></style>
